acme==1.1.0
aiofiles==24.1.0
aiohttp==3.8.5
aiosignal==1.3.1
alembic==1.13.2
alx-utils==0.8
annotated-types==0.5.0
anyio==3.7.0
appdirs==1.4.4
asgiref==3.8.1
astroid==2.3.3
asttokens==2.0.3
async-lru==2.0.4
async-timeout==4.0.3
asyncio==3.4.3
attrs==19.3.0
Authlib==1.3.0
Automat==0.8.0
autopep8==2.1.0
Babel==2.15.0
backports.zoneinfo==0.2.1
bandit==1.7.5
bcrypt==3.1.7
beautifulsoup4==4.8.2
black==19.3b0
blinker==1.6.2
certbot==0.40.0
certbot-nginx==0.40.0
certifi==2024.7.4
cffi==1.17.0
chardet==3.0.4
charset-normalizer==3.3.2
cli_helpers==2.3.1
click==8.1.7
cloud-init==24.1.3
colorama==0.4.3
colorlog==6.7.0
command-not-found==0.3
ConfigArgParse==0.13.0
configobj==5.0.6
constantly==15.1.0
cors==1.0.1
cpython-lldb==0.3.2
cryptography==43.0.0
cymysql==1.0.1
Cython==3.0.10
dataclasses-json==0.5.14
dbus-python==1.2.16
decorator==5.1.1
Deprecated==1.2.14
diff-cover==7.7.0
distlib==0.3.8
distro==1.4.0
distro-info==0.23+ubuntu1.1
dj-rest-auth==6.0.0
Django==4.2.9
django-allauth==64.1.0
djangorestframework==3.15.2
dnspython==2.6.1
docopt==0.6.2
docutils==0.16
entrypoints==0.3
exceptiongroup==1.1.1
fabric==3.2.2
Fabric3==1.14.post1
fastjsonschema==2.17.1
filelock==3.13.4
flake8==7.1.0
Flask==2.3.3
Flask-Babel==2.0.0
Flask-SQLAlchemy==3.1.1
frozenlist==1.4.0
future==0.18.2
Genshi==0.7.3
gevent==24.2.1
gitdb==4.0.10
GitPython==3.1.34
greenlet==2.0.2
grip==4.6.1
html5lib==1.0.1
httpie==1.0.3
httplib2==0.14.0
hyperlink==19.0.0
idna==3.7
importlib-metadata==6.8.0
importlib-resources==6.0.1
incremental==16.10.1
iniconfig==2.0.0
inquirerpy==0.3.4
invoke==2.2.0
isort==4.3.4
itsdangerous==2.1.2
jedi==0.15.2
Jinja2==3.1.4
josepy==1.2.0
JSON.sh @ git+https://github.com/dominictarr/JSON.sh@0d5e5c77365f63809bf6e77ef44a1f34b0e05840
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
jwt==1.3.1
keyring==18.0.1
langchain==0.0.268
langsmith==0.0.25
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
linecache2==1.0.0
llist==0.7.1
logilab-common==1.4.3
lxml==4.9.2
Mako==1.3.5
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
mccabe==0.7.0
mdurl==0.1.2
metamagic.json==0.9.6
mock==3.0.5
more-itertools==4.2.0
msgpack==0.6.2
multidict==6.0.4
mycli==1.27.2
mypy==0.761
mypy-extensions==1.0.0
mysql==0.0.3
mysql-connector-python==8.1.0
mysql-oop==0.1.6
mysqlclient==2.1.1
mysqlconnectautomation==0.0.5
netifaces==0.10.4
numexpr==2.8.5
numpy==1.15.0
oauthlib==3.2.2
olefile==0.46
openai==0.27.8
optional-django==0.3.0
packaging==23.1
paramiko==2.12.0
parsedatetime==2.4
parso==0.5.2
path-and-address==2.0.1
pathspec==0.11.2
pbr==5.11.1
pexpect==4.6.0
pfzy==0.3.4
pillow==10.4.0
pipenv==2023.12.1
platformdirs==4.2.1
pluggy==1.2.0
prompt-toolkit==3.0.39
protobuf==4.21.12
psutil==5.5.1
py-youtube==1.1.7
pyaes==1.6.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycodestyle==2.12.0
pycparser==2.22
pydantic==2.2.1
pydantic_core==2.6.1
pyflakes==3.2.0
Pygments==2.16.1
PyGObject==3.36.0
PyHamcrest==1.9.0
PyICU==2.4.2
PyJWT==1.7.1
pylint==2.4.4
pymacaroons==0.13.0
pymongo==4.8.0
PyMySQL==1.1.0
PyNaCl==1.3.0
pynvim==0.4.1
pyOpenSSL==19.0.0
pyparsing==3.1.2
pyperclip==1.8.2
pyRFC3339==1.1
pyrsistent==0.15.5
pyserial==3.4
PySocks==1.7.1
pytest==7.4.0
python-apt==2.0.1+ubuntu0.20.4.1
python-debian==0.1.36+ubuntu1.1
python-dotenv==1.0.1
python-twitter-v2==0.9.0
PythonTurtle==0.3.2
pytz==2024.1
PyYAML==5.3.1
react==4.3.0
reactpy==1.0.0
redis==5.0.1
regex==2023.8.8
reportlab==4.2.2
requests==2.32.3
requests-file==2.1.0
requests-oauthlib==1.3.1
requests-toolbelt==0.8.0
requests-unixsocket==0.2.0
rich==13.5.2
roman==2.0.0
SecretStorage==2.3.1
Send2Trash==1.5.0
service-identity==18.1.0
shell-ai==0.3.9
simplejson==3.16.0
six==1.14.0
smmap==5.0.0
sniffio==1.3.0
sos==4.5.6
soupsieve==1.9.5
spark-parser==1.8.9
SQLAlchemy==2.0.30
sqlfluff==2.2.1
sqlglot==23.11.2
sqlparse==0.5.1
ssh-import-id==5.10
stevedore==5.1.0
systemd-python==234
tabulate==0.9.0
tblib==2.0.0
tenacity==8.2.3
thonny==3.2.7
tk==0.1.0
tldextract==5.1.2
toml==0.10.2
tomli==2.0.1
tqdm==4.66.1
traceback2==1.4.0
tweepy==4.14.0
Twisted==18.9.0
typed-ast==1.4.1
typing-inspect==0.9.0
typing_extensions==4.12.2
ubuntu-pro-client==8001
ufw==0.36
unattended-upgrades==0.1
uncompyle6==3.9.0
unittest2==1.1.0
urllib3==2.2.2
virtualenv==20.26.0
wadllib==1.3.3
wcwidth==0.2.6
webencodings==0.5.1
Werkzeug==2.3.7
wrapt==1.11.2
xdis==6.0.5
yarl==1.9.2
zipp==3.16.2
zope.component==4.3.0
zope.event==4.4
zope.hookable==5.0.0
zope.interface==4.7.1
